@layer theme, base, antd, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-primary: #c84a2e;
  --color-secondary: #1e1e1e;
  --color-background: #f5f5f5;
  --color-modal-background: #ffffff;
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-light-primary: #ffe6e0;

  --color-text-disabled: #828282;
}

:root {
  --color-primary: #c84a2e;
  --color-secondary: #1e1e1e;
  --color-background: #f5f5f5;
  --color-modal-background: #ffffff;
  --color-text-primary: #262626;
  --color-text-secondary: #666666;
  --color-light-primary: #ffe6e0;

  --color-text-disabled: #828282;
}

body {
  padding: 0;
  margin: 0;
}
